.formControl{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}
.formControl input{
    outline: none;
    border: 1px solid #6d28d9;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding: 10px 5px;
    color: #6d28d9;
    width: 300px;
    margin-left: 12px;
}


.formControl input:focus{
    border: 2px solid #6d28d9;
}